@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --base-font-color: #2f2f3a;
  --main-header-border-color: #cedece;
}

@layer base {
  body {
    font-color: var(--base-font-color);
  }
  h1 {
    font-size: 1.9em;
    margin-top: 20px;
    margin-bottom: 7.5px;
  }

  h2 {
    font-size: 1.7em;
  }
}

._container {
  width: 100%;
  max-width: 800px;
}

.main-header {
  border-bottom: 2px dashed var(--main-header-border-color);
}

.main-header .brand {
  display: block;
  font-family: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 26px;
}

.page-main-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

/* ------------------------------- POST STYLES ------------------------------ */
.post {
  margin: 0 10px;
}

.post .title,
.post-list .title {
  font-family: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.post .info {
  margin-bottom: 20px;
}

.post-list {
  margin-bottom: 10px;
}

.post-list .title {
  font-size: 20px;
}

@import "github-markdown.css";
