@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --base-font-color: #2f2f3a;
  --main-header-border-color: #cedece;
}

@layer base {
  body {
    color: var(--base-font-color);
  }

  h1 {
    font-size: 1.9em;
    margin-top: 20px;
    margin-bottom: 7.5px;
  }

  h2 {
    font-size: 1.7em;
  }

  a {
    color: #2b5ecc;
  }

  a:hover {
    text-decoration: underline;
  }
}

._container {
  width: 100%;
  max-width: 800px;
}

.main-header {
  border-bottom: 2px dashed var(--main-header-border-color);
}

.main-header .brand {
  color: var(--base-font-color);
  display: block;
  font-family: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 26px;
}

.page-main-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.main-footer {
  border-top: 2px dashed var(--main-header-border-color);
}

/* ------------------------------- POST STYLES ------------------------------ */
.post {
  margin: 0 10px;
}

.post .title,
.post-list .title {
  font-family: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.post .info {
  margin-bottom: 20px;
}

.post-list {
  margin-bottom: 10px;
}

.post-list .title {
  font-size: 20px;
}

.post-list .title a {
  color: var(--base-font-color);
}

.post footer {
  margin-top: 20px;
}

.post .tags {
  margin-top: 30px;
  list-style: none;
  display: flex;
}

.post .tags a {
  margin-right: 5px;
  text-decoration: none;
  margin-bottom: 8px;
  padding: 5px;
  background-color: var(--code-bg-color);
  color: var(--color-text-tertiary);
  border-radius: var(--radius);
  background-color: #f4eefb;
  border-radius: 5px;
}

@import "github-markdown.css";
