:root {
  --bg-color: #fff;
  --color-text-tertiary: rgb(71, 76, 82);
  --border-color: #e6e4e4;
  --code-bg-color: #bfbfc041;
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Joypixels", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-color: #252738;
  --font-size: 15px;
  --radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--font-color);
  font-family: var(--ff-sans-serif);
  font-size: var(--font-size);
  line-height: 1.5;
  text-rendering: optimizelegibility;
}

a {
  color: blueviolet;
}

.header {
  background-color: whitesmoke;
}

.brand {
  border-bottom: 2px dashed var(--border-color);
  font-size: 2em;
  padding: 10px 5px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.brand img {
  border-radius: 50%;
}

.brand a {
  color: var(--font-color);
  text-decoration: none;
}

.main-nav {
  border-bottom: 2px solid var(--border-color);
  padding: 15px 10px 15px 10px;
}

.main-nav ul {
  list-style: none;
}

.main-nav a {
  color: var(--font-color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0;
  text-decoration: none;
}

.main-nav a:hover,
.post-list .title a:hover {
  color: black;
  text-decoration: underline;
}

.social-media-info {
  display: none;
}

.main-page {
  flex: 1;
  margin: 15px;
  max-width: 100%;
  min-height: 100vh;
}

.main-page > :first-child,
.post > :first-child {
  margin: 20px 0;
}

.post-list {
  border-bottom: 1px solid var(--border-color);
  margin: 15px 2px;
  padding: 10px 0;
}

.post-list .title a {
  color: var(--font-color);
  text-decoration: none;
}

.post-list .date {
  margin: 10px 0 0;
}

.post header {
  border-bottom: 2px solid var(--border-color);
}

.post .date {
  margin: 0 0 10px;
}

.post .title {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 15px 0;
}

.post .tags {
  margin-top: 30px;
  list-style: none;
  display: flex;
}

.post .tags a {
  margin-right: 5px;
  text-decoration: none;
  margin-bottom: 8px;
  padding: 5px;
  background-color: var(--code-bg-color);
  color: var(--color-text-tertiary);
  border-radius: var(--radius);
}

.post {
  max-width: 800px;
}

.date {
  color: #817a7a;
}

.highlight code {
  font-size: 1em;
  background-color: transparent;
  color: #fff;
}

@media (min-width: 800px) {
  body {
    display: flex;
  }

  .header {
    left: 0;
    max-height: 100vh;
    max-width: 300px;
    min-width: 20%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
  }

  .main-nav {
    border-bottom: none;
  }

  .main-nav li {
    text-align: right;
  }

  .social-media-info {
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: auto;
  }

  .social-media-info img {
    margin: 0 5px;
  }
}
