:root {
  --font-color: #252738;
  --border-color: #ececec;
  --bg-color: #fff;
  --font-size: 16px;
  --radius: 5px;
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Joypixels", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --markdown-code-bg-color: rgba(191, 191, 192, 0.253);
}
* {
  color: var(--font-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans-serif);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  line-height: 1.5;
}

p {
  font-size: 1.2em;
}

a {
  color: blueviolet;
}

code {
  background: rgba(0, 0, 0, 0.1);
  color: var(--font-color);
  border-radius: var(--radius);
  max-width: 100%;
  font-size: 80%;
  padding: 0.2em 0.25em;
}

body > header {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
}

.main-nav {
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  margin: 0 10px;
  padding: 15px 10px 15px 10px;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}

.brand-pic {
  border-radius: 50%;
}

.main-nav ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
  margin-left: auto;
}

.main-nav a {
  color: var(--font-color);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.main-page {
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 10px;
}

.main-page > :first-child,
.post > :first-child {
  margin: 20px 0;
}

.post-list {
  border-bottom: 1px solid var(--border-color);
  margin: 15px 2px;
  padding: 10px 0;
}

.post-list .title {
  font-size: 20px;
}

.post-list .title a {
  color: var(--font-color);
  text-decoration: none;
}

.post h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 15px 0;
}

.post .date {
  margin: 0 0 20px;
}

.post header {
  border-bottom: 2px solid var(--border-color);
}

.post p,
.post ul,
.post ol,
.post .highlight {
  margin-bottom: 16px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin: 24px 0 16px 0;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.post ol,
.post ul {
  padding-left: 2em;
}

.post li + li {
  margin-top: 0.25em;
}

.post code,
.post tt {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: var(--markdown-code-bg-color);
  border-radius: var(--radius);
}

.date {
  color: #817a7a;
}

.post-list .date {
  margin: 10px 0 0;
}

.highlight pre {
  border-radius: var(--radius);
  overflow-y: auto;
  padding: 10px;
}

.highlight code {
  background-color: transparent;
  color: #fff;
  font-size: var(--font-size);
}

#footer {
  align-items: center;
  border-top: 2px solid var(--border-color);
  display: flex;
  justify-content: center;
  margin: 0 10px;
  padding: 10px;
}
