{{ partial "header.html" . }}

<body class="flex flex-col min-h-screen">
  <header class="p-3 mx-auto font-bold _container main-header">
    <div class="mx-auto">
      <a class="brand" href="/">Don Nisnoni's Blog</a>
    </div>
  </header>

  <main class="p-2 mx-auto main-section _container">
    {{ block "main" . }} {{ end }}
  </main>

  <footer class="flex gap-1 p-2 mx-auto mt-auto main-footer _container">
    <a target="_blank" href="https://twitter.com/AlfonsDon">twitter</a> •
    <a target="_blank" href="https://github.com/donnisnoni">github</a>
    <a class="ml-auto" target="_blank" href="/index.xml">rss</a>
  </footer>
</body>

{{ partial "footer.html" . }}
