{{ partial "header.html" . }}

<body class="flex flex-col min-h-screen">
  <header class="p-3 mx-auto font-bold _container main-header">
    <a class="brand" href="/">Don Nisnoni's Blog</a>
  </header>

  <main class="p-2 mx-auto main-section _container">
    {{ block "main" . }} {{ end }}
  </main>

  <footer class="flex gap-1 p-2 mx-auto mt-auto main-footer _container">
    <a target="_blank" title="Twitter" href="https://twitter.com/AlfonsDon">twitter</a> •
    <a target="_blank" title="GitHub" href="https://github.com/donnisnoni">github</a> •
    <a title="RSS" target="_blank" href="/index.xml">rss</a>
    <span class="ml-auto text-sm">Copyright © 2021 DonNisnoni</span>
  </footer>
</body>

{{ partial "footer.html" . }}
