@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./github-markdown.css";

:root {
  --base-bg-color: hsl(0, 0%, 100%);
  --base-font-color: hsl(240, 10%, 21%);
  --main-header-border-color: hsl(120, 20%, 84%);
  --post-info-font-color: hsl(190, 3%, 44%);
  --anchor-font-color: hsl(221, 63%, 47%);
  --code-bg-color: hsla(210, 13%, 12%, 0.051);
  --blockquote-font-color: hsl(212, 8%, 45%);
  --font-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --font-serif: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* purgecss start ignore */

:root.dark {
  --base-bg-color: hsl(240, 25%, 14%);
  --base-font-color: hsl(0, 0%, 100%);
  --post-info-font-color: hsl(193, 6%, 68%);
  --anchor-font-color: hsl(261, 84%, 74%);
  --code-bg-color: hsla(211, 96%, 91%, 0.05);
  --blockquote-font-color: hsl(216, 5%, 60%);
}

/* purgecss end ignore */

@layer base {
  body {
    background-color: var(--base-bg-color);
    color: var(--base-font-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h1 {
    font-size: 1.9em;
    margin-top: 20px;
    margin-bottom: 7.5px;
  }

  h2 {
    font-size: 1.7em;
  }

  a {
    color: var(--anchor-color);
  }

  a:hover {
    text-decoration: underline;
  }

  ol,
  ul {
    list-style: initial;
  }
}

._container {
  width: 100%;
  max-width: 800px;
}

.main-header {
  /* position: sticky; */
  background-color: var(--base-bg-color);
  /* border-bottom: 2px dashed var(--main-header-border-color); */
  align-items: center;
  /* top: 0; */
}

.toggle-dark {
  cursor: pointer;
  padding: 5px;
  user-select: none;
  clip-path: circle();
}

/* purgecss start ignore */
.menu {
  background-color: transparent;
  clip-path: circle();
  cursor: pointer;
  user-select: none;
}
.line {
  fill: none;
  stroke: var(--base-font-color);
  stroke-width: 6;
  transition: stroke-dasharray 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

svg .fill {
  /* color: var(--base-font-color);
  display: block;
  font-family: var(--font-serif);
  text-decoration: none;
  font-size: 26px; */
  fill: var(--base-font-color) !important;
}

:root:not(.dark) .toggle-dark .light-icon,
:root.dark .toggle-dark .dark-icon {
  display: none;
}

.main-section {
  flex-grow: 1;
}

.my-avatar {
  max-width: 200px;
  border-radius: 58% 42% 69% 31% / 48% 64% 36% 52%;
  transition: 0.35s ease-in-out;
  transition-property: border-radius, transform;
  box-shadow: 0.5px 2px 5px currentColor;
}

.main-footer {
  margin-top: 10vh;
}

.footer-separator {
  display: none;
}

/* .footer-links {
  flex-direction: column;
} */

.footer-links a {
  text-align: center;
}

@media screen and (min-width: 450px) {
  /* .footer-links {
    flex-direction: row;
  } */

  .footer-separator {
    display: initial;
    flex-basis: auto;
  }
}

/* purgecss end ignore */

.page-main-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

/* .main-footer {
  border-top: 2px dashed var(--main-header-border-color);
} */

/* ------------------------------- POST STYLES ------------------------------ */

.post .title,
.post-list .title {
  font-family: var(--font-serif);
  font-weight: bold;
}

.post .info {
  margin-bottom: 20px;
}

.post .info,
.post-list .info {
  color: var(--post-info-font-color);
}

.post-list {
  margin-bottom: 10px;
}

.post-list .title {
  font-size: 20px;
}

.post .title {
  font-size: 1.8em;
}

.post-list .title a {
  color: var(--base-font-color);
}

.post footer {
  margin-top: 30px;
  margin-bottom: 10px;
}

.post .tags {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 30px;
}

.post .tags a {
  background-color: var(--code-bg-color);
  border-radius: 5px;
  margin-bottom: 8px;
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
}

.post .thumbnail {
  aspect-ratio: 16/9;
}

.hr-border {
  border-top: 2px dashed var(--main-header-border-color);
}

@import "github-markdown.css";
