@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --base-bg-color: #fff;
  --base-font-color: #2f2f3a;
  --main-header-border-color: #cedece;
  --post-info-font-color: #6c7172;
  --anchor-font-color: #2c5cc4;
  --code-bg-color: #1b1f230d;
  --blockquote-font-color: #6a737d;
}

/* purgecss start ignore */

:root.dark {
  --base-bg-color: #1a1a2b;
  --base-font-color: #fff;
  --post-info-font-color: #aab1b3;
  --anchor-font-color: #ab83f4;
  --code-bg-color: rgb(211 232 254 / 5%);
  --blockquote-font-color: #94989e;
}

/* purgecss end ignore */

@layer base {
  body {
    background-color: var(--base-bg-color);
    color: var(--base-font-color);
  }

  h1 {
    font-size: 1.9em;
    margin-top: 20px;
    margin-bottom: 7.5px;
  }

  h2 {
    font-size: 1.7em;
  }

  a {
    color: var(--anchor-color);
  }

  a:hover {
    text-decoration: underline;
  }
}

._container {
  width: 100%;
  max-width: 800px;
}

.main-header {
  border-bottom: 2px dashed var(--main-header-border-color);
}

.main-header .brand {
  color: var(--base-font-color);
  display: block;
  font-family: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* text-align: center; */
  font-size: 26px;
}

.toggle-dark {
  padding: 5px;
  cursor: pointer;
}

/* purgecss start ignore */

.toggle-dark svg {
  fill: var(--base-font-color);
}

:root:not(.dark) .toggle-dark .light-icon,
:root.dark .toggle-dark .dark-icon {
  display: none;
}

/* purgecss end ignore */

.page-main-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.main-footer {
  border-top: 2px dashed var(--main-header-border-color);
}

/* ------------------------------- POST STYLES ------------------------------ */
.post {
  margin: 0 10px;
}

.post .title,
.post-list .title {
  font-family: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.post .info {
  margin-bottom: 20px;
}

.post .info,
.post-list .info {
  color: var(--post-info-font-color);
}

.post-list {
  margin-bottom: 10px;
}

.post-list .title {
  font-size: 20px;
}

.post-list .title a {
  color: var(--base-font-color);
}

.post footer {
  margin-top: 30px;
  margin-bottom: 10px;
}

.post .tags {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 30px;
}

.post .tags a {
  background-color: var(--code-bg-color);
  border-radius: 5px;
  border-radius: var(--radius);
  color: var(--color-text-tertiary);
  margin-bottom: 8px;
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
}

@import "github-markdown.css";
