{{ define "main" }}
  <article class="post">
    <header>
      <h1 class="title" title="{{ .Title }}">{{ .Title }}</h1>
      <section class="info">
        {{ .Date.Format "January 2, 2006" }} • {{ .ReadingTime }} min read
      </section>
    </header>

    <main class="markdown-body">
      {{ if isset .Params "description" }}
        <section class="mb-5 text-lg font-bold description">
          {{ .Description }}
        </section>
      {{ end }}

      {{ .Content }}
    </main>

    {{ if isset .Params "tags" }}
      <footer>
        <ul class="tags">
          {{ range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      </footer>
    {{ end }}
  </article>
{{ end }}
