{{ define "main" }}
  <div class="post">
    <article>
      <header>
        <h1 class="title">{{ .Title }}</h1>
        <section class="info">
          {{ .Date.Format "January 2, 2006" }} . {{ .ReadingTime }} min read
        </section>
      </header>
      <main class="markdown-body">
        {{ .Content }}
      </main>
      <footer>
        <ul class="tags">
          {{ range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      </footer>
    </article>
  </div>
{{ end }}
