{{ define "main" }}
  <article class="post">
    <header>
      <h1 class="title" title="{{ .Title }}">{{ .Title }}</h1>
      <section class="info">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        • {{ .ReadingTime }} min read
      </section>
    </header>

    <main class="markdown-body">
      {{ if isset .Params "thumbnail" }}
        <img
          class="thumbnail mb-5 rounded-md"
          loading="lazy"
          width="100%"
          height="200px"
          src="/images/{{ .Params.Thumbnail }}"
        />
      {{ end }}

      {{ .Content }}
    </main>

    {{ if isset .Params "tags" }}
      <footer>
        <ul class="tags">
          {{ range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      </footer>
    {{ end }}
  </article>

  <!-- <div class="hr-border"></div>

  <div id="graphcomment-widget"></div>
  <div id="graphcomment"></div>
  <script type="text/javascript">
    window.gc_params = {
      graphcomment_id: "donnisnoni",
      fixed_header_height: 0,
    };
    (function () {
      const gc = document.createElement("script");
      gc.type = "text/javascript";
      gc.async = true;
      gc.src = "https://graphcomment.com/js/integration.js?" + Math.round(Math.random() * 1e8);
      (
        document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]
      ).appendChild(gc);
    })();
  </script> -->
{{ end }}
