<script>
  (function () {
    const toggleDarkEl = document.getElementById("toggle-dark");
    const htmlEl = document.querySelector("html");

    function setDark(v) {
      if (v) {
        htmlEl.classList.add("dark");
      } else {
        htmlEl.classList.remove("dark");
      }
      localStorage["dark"] = v;
      toggleDarkEl.setAttribute("aria-checked", v);
    }

    if (undefined === localStorage["dark"]) {
      localStorage["dark"] = false;
    } else if (localStorage["dark"] === "true") {
      setDark(true);
    } else {
      setDark(false);
    }

    toggleDarkEl &&
      toggleDarkEl.addEventListener("click", function () {
        const isDark = htmlEl.classList.contains("dark");
        if (!isDark) {
          htmlEl.classList.add("dark");
        } else {
          htmlEl.classList.remove("dark");
        }
        setDark(!isDark);
      });
  })();
</script>
