<header class="mx-auto font-bold _container main-header">
  <div class="flex items-center justify-between p-3">
    <!-- <div
    onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'));this.setAttribute('aria-checked', this.classList.contains('opened'))"
      class="flex items-center menu"
      role="switch"
      aria-label="Menu"
      title="Menu"
      aria-checked="false"
    >
      <svg width="36" height="36" viewBox="0 0 100 100">
        <path
          class="line line1"
          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
        />
        <path class="line line2 fill" d="M 20,50 H 80" />
        <path
          class="line line3"
          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
        />
      </svg>
    </div> -->
    <div style="width: 30px; height: 30px"></div>
    <a href="/" aria-label="Don Alfons Nisnoni">
      {{ readFile "static/icons/don_xdev_header.svg" | safeHTML }}
    </a>
    <div
      class="flex items-center toggle-dark"
      id="toggle-dark"
      role="switch"
      aria-checked="false"
      aria-label="Toggle Dark Mode"
      title="Toggle Dark Mode"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="light-icon" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path
          class="fill"
          d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"
        ></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="dark-icon"
        enable-background="new 0 0 24 24"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <rect fill="none" height="24" width="24"></rect>
        <path
          class="fill"
          d="M11.1,12.08C8.77,7.57,10.6,3.6,11.63,2.01C6.27,2.2,1.98,6.59,1.98,12c0,0.14,0.02,0.28,0.02,0.42 C2.62,12.15,3.29,12,4,12c1.66,0,3.18,0.83,4.1,2.15C9.77,14.63,11,16.17,11,18c0,1.52-0.87,2.83-2.12,3.51 c0.98,0.32,2.03,0.5,3.11,0.5c3.5,0,6.58-1.8,8.37-4.52C18,17.72,13.38,16.52,11.1,12.08z"
        />
        <path
          class="fill"
          d="M7,16l-0.18,0C6.4,14.84,5.3,14,4,14c-1.66,0-3,1.34-3,3s1.34,3,3,3c0.62,0,2.49,0,3,0c1.1,0,2-0.9,2-2 C9,16.9,8.1,16,7,16z"
        />
      </svg>
    </div>
  </div>
  {{ partial "dark_mode_script.html" }}
  <nav class="flex flex-wrap justify-center gap-4 py-2 font-bold top-nav">
    <a title="Home" href="/">home</a>
    <a title="Posts" href="/posts">posts</a>
    <a title="About" href="/about">about</a>
    <a title="Resume" href="/resume">resume</a>
  </nav>
  <script>
    Array.from(document.body.querySelectorAll(".top-nav a") || []).forEach((navLink => {
      if (navLink.href === location.href || location.href.startsWith(navLink.href) && navLink.getAttribute('href') !== '/') {
        navLink.classList.add("active");
      }
    }));
  </script>
</header>
