<article class="post-list">
  <header>
    <h2 class="title">
      <a title="{{ .Title }}" href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <section class="info">
      <time title="The date this post was created" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      •
      <span title="The time it takes for you to read all the contents of this article">
        {{ .ReadingTime }} min read
      </span>
    </section>
  </header>
</article>
