{{ define "main" }}
  <article class="flex mt-4 mb-10">
    <div class="mr-3">
      <img
        class="rounded-full"
        width="200px"
        height="200px"
        src="https://avatars.githubusercontent.com/u/16399020?s=460&u=8eb8a5d850a476e09cc6a6085b32a9f44432779b&v=4"
        alt="Don Nisnoni"
        title="Don Nisnoni's profile picture"
      />
    </div>
    <div class="markdown-body">
      <h3>Hello...</h3>
      <p>
        My name is <i>Don Nisnoni</i>, you can call me <i>Don</i>. I'm a software developer from
        Indonesia 🇮🇩. I mostly do full-stack web development.
        <a href="/about">👉 more about me</a>
      </p>
    </div>
  </article>

  <h2 class="page-main-title">Recent Posts</h2>

  {{ with .Site.GetPage "section" "/posts" }}
    {{ range first 5 .Pages }}
      {{ partial "post-list.html" . }}
    {{ end }}
    <div class="flex">
      <a class="ml-auto" href="./posts">All Posts »</a>
    </div>
  {{ end }}
{{ end }}
